{% extends "main.html" %}

{% block title %}Create Workshop{% endblock %}

{% block body %}
<script src="https://cdn.tiny.cloud/1/v6qkw64b6pebv7ro9w1g0xes5g6vr1tb60by4zrjh941ca2m/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<small>
    <a href="../">Back</a>
</small>
<h1>Create workshop</h1>

<form name="form" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="id_bio">Name</label>
        {{ form.name }}
        {% if form.name.errors %}
            {% for e in form.name.errors %}
                <p class="invalid-feedback is-invalid">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="mb-3 is-invalid">
        <label class="form-label" for="id_bio">Start Time</label>
        {{ form.startTime }}
        {% if form.startTime.errors %}
            {% for e in form.startTime.errors %}
                <div class="help text-danger">{{ e }}</div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="id_bio">Duration (m)</label>
        {{ form.duration }}
        {% if form.duration.errors %}
            {% for e in form.duration.errors %}
                <p class="help is-danger">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_bio">Topic</label>
        {{ form.topic }}
        {% if form.topic.errors %}
            {% for e in form.topic.errors %}
                <p class="help is-danger">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_bio">Description</label>
        {{ form.desc }}
        {% if form.desc.errors %}
            {% for e in form.desc.errors %}
                <p class="help is-danger">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>

<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
    });
  </script>

 
{% endblock %}