{% extends "main.html" %}

{% block title %}Events Index{% endblock %}

{% block body %}
<small>
    <a href="../">Back to all workshops</a>
</small>
<h1>{{ event.name }}</h1>
<small>{{ event.startTime|date:'M d, Y @ h:iA' }} - {{ event.calc_end_date|date:"M d, Y @ h:iA" }}</small>

<p class="mt-2">
    <strong>Event:</strong>
    {{ event.type.name|lower|capfirst }}
    <br>
    <strong>Topic:</strong>
    {{ event.topic }}
    <br>
    <strong>Where</strong>
    {{ event.location }}
    
</p>

<p>
    <strong>Mentor:</strong>
    <a href="#">{{ event.mentor.get_full_name|capfirst }}</a>
</p>

<p>
    {{ event.description }}
</p>


{% if event.has_event_finished %}
    <div>
        <custom-form form-id="{{ form.feedback_form.id }}">Loading form...</custom-form>
    </div>
{% else %}
    <div class="alert alert-info">
        The feedback form for this event will be available after <strong>{{ event.calc_end_date|date:"h:mA"|lower }} on the {{ event.calc_end_date|date:"jS F, Y" }}</strong>
    </div>
{% endif %}
{% endblock %}