{% extends "main.html" %}

{% block title %}Events Index{% endblock %}

{% block body %}
<h1>{{ event.name }}</h1>
<small>{{ event.startTime|date:'h:mA' }} - {{ event.calc_end_date|date:"h:mA"|lower }} on {{ event.startTime|date:"M d, Y"}}</small>

<p>
    <strong>Event:</strong>
    {{ event.type.name|lower|capfirst }},
    {{ event.location }}
</p>

<p>
    <strong>Mentor:</strong>
    <a href="#">{{ event.mentor.get_full_name|capfirst }}</a>
</p>

<p>
    {{ event.description }}
</p>


{% if event.can_show_form %}
    <div>
        <custom-form form-id="{{ form.feedback_form.id }}">Loading form...</custom-form>
    </div>
{% else %}
    <div class="alert alert-info">
        The feedback form for this event will be available after <strong>{{ event.calc_end_date|date:"h:mA"|lower }} on the {{ event.calc_end_date|date:"jS F, Y" }}</strong>
    </div>
{% endif %}
{% endblock %}