{% extends "mentor_base.html" %}

{% block title %}Meeting Feedback{% endblock %}

{% block body %}

<small>
    <a href="{% url 'mentor_view_meeting' meetingId=meeting_id %}">Back</a>
</small>

<h1> Feedback: </h1>
<p> Here is the feedback from your mentee, {{mentee.get_full_name}} </p>
{% if feedback %}
<div class="card-group row row-cols-1 row-cols-md-4 g-4 mb-4">
        <div class="col">
            <div class="card h-100" >
                <div class="card-body">
                    
                    <h5 class="card-title d-flex" style="margin-bottom: 0px !important;">{{ feedback.form }}</h5>

                    <hr>

                </div>
            </div>
        </div>

    {% else %}
    
    <div class="alert alert-danger w-100" style="margin-top: 40px;"> Your mentee has not given feedback yet! </div>
        
</div>
{% endif %}

{% endblock %}