{% extends "mentor_base.html" %}

{% block title %}Mentor Index Page{% endblock %}

{% block body %}
<div class="center">
    <h1 class="mt-2 mb-0" color="#6e6464" style="font-size: 6rem;" color:>
        Mentor Portal
    </h1>
</div>
<br>

<div class="bg-block-mentor ">
    <h3>My Mentees:</h3>



    {% for con in mentees %}

    <div class="card col-md-2 d-flex flex-column align-items-center justify-content-center pt-3" style="background-color: transparent !important; border-color :transparent !important">
 
            <i class="fa-solid fa-circle-user fa-2x" style="padding-right:10px; width: 6rem; height: 6rem; color: #6e6464;"></i>
       
        <p>{{ con.mentee.get_full_name }}</p>

        <a href="mentees/{{ con.mentee.id }}/" class="stretched-link"></a>
    </div>

    {% empty %}
    <p>You haven't been matched with any Mentees yet!</p>
    {% endfor %}

</div>
<br>
<div style="text-align:right; border:5px;">
    <a href="view_general_feedback/" class="btn btn-primary  " style="font-size: 0.9rem;">View Feedback</a>
</div>
<br>
<div class="bg-block-mentee-light" style="border-color: #a6de81 !important ">
    <h4> Upcoming Meetings: </h4>
    <div class="card-group row row-cols-1 row-cols-md-4 g-4 mb-4">
        {% for meeting in upcoming_meetings %}
            <div class="col">
                <div class="card h-100" >
                    <div class="card-body">
                        
                        <h5 class="card-title d-flex" style="margin-bottom: 0px !important;">{{ meeting.event.name }}</h5>
                        <small><strong>When:</strong> {{ meeting.event.startTime|date:"D m, Y @ H:i" }}</small>
                        <br>
                        <small><strong>Where:</strong> {{ meeting.event.location }}</small>
                        <br>
                        <small><strong>With:</strong> {{ meeting.mentee.get_full_name }}</small>

                        <a href="meeting/{{ meeting.event.id }}" class="stretched-link"></a>
                    </div>
     
                </div>
            </div>
    
        {% empty %}
        
        <div class="alert alert-danger w-100" style="margin-top: 40px;"> You have no upcoming meetings! </div>
        
        {% endfor %}
            
    </div>
    <a href="mentor_past" class="btn btn-rounded btn-mentee" style="font-size: 0.9rem;"> View Past Meetings </a>
    <a href="mentor_pending" class="btn btn-rounded btn-mentee" style="font-size: 0.9rem;"> View Pending Meetings </a>
    <a href="mentor_upcoming" class="btn btn-rounded btn-mentee" style="font-size: 0.9rem;"> Edit Upcoming Meetings </a>
</div>


{% endblock %}