{% extends "mentee_base.html" %}

{% block title %}Mentee Pending Meetings{% endblock %}

{% block body %}
{% for meeting in upcoming_meetings %}
<p> Name:  {{meeting.name}} </p>
<p> Start Time: {{meeting.start_time}} </p>
<p> Duration: {{meeting.duration}} </p>
<p> Location: {{meeting.location}} </p>
<form method="POST">
    {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Approve Meeting">
    </form>
    <a href="mentee_reschedule"> Reschedule Meeting </a>
{% empty %}
<div class="alert alert-danger w-100" style="margin-top: 40px;">You don't have any pending meetings!</div>
{% endfor %}
{% endblock %}
