{% extends "mentee_base.html" %}

{% block title %}Mentee Index Page{% endblock %}

{% block body %}
<div class="center">
    <h1 class="mt-2 mb-0" color="#6e6464" style="font-size: 6rem;" color:>
        Mentee Portal
    </h1>
</div>

<div style="text-align:right; border:5px;">
    <select name="Subject area" class="select-mentee" id="subject;">
        <option value="select">Subject Area</option>
        <option value="Public Speaking">Public Speaking</option>
        <option value="Entrepreneurship">Entrepreneurship</option>
        <option value="Leadership">Leadership</option>
        <option value="Organisation">Organisation</option>
    </select>
    <input type="text" class="text-mentee" placeholder="Mentor Name" />
    <span class="btn btn-primary btn-rounded mt-4 px-4 " style="font-size: 1rem; background-color: #6e6464;">Filter Mentors</span>
</div>
<br>
<div class="bg-block-mentee" >
    
    <div class="card-group row row-cols-1 row-cols-md-5 g-4 mb-4">
        {% for mem in mm  %}
            <div class="col">
                <div class="card h-100 text-white" style="background-color: transparent !important; border: 0px !important;">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between">
                        <i class="fa-solid fa-circle-user fa-5x"></i>
                        
                        <h5 class="card-title d-flex" style="margin-top: 0.5em !important; margin-bottom: 0px !important;">{{ mem.mentor.get_full_name }}</h5>





                        
                    </div>
         

                      <a href="/user/{{ mem.mentor.id }}" class="stretched-link"></a>
        
                </div>
            </div>
        {% empty %}

        <div class="alert alert-danger w-100" style="margin-top: 40px;">There are no plans of action yet! <a href="plans/new/" class="alert-link">Create one?</a></div>
        {% endfor %}
    </div>

    <br>
    <a href="rate_mentor" class="btn btn-rounded bg-mentee-white" style="font-size: 0.9rem;"> View feedback </a>
    <br><br>
    <a href="rate_mentor" class="btn btn-rounded bg-mentee-white" style="font-size: 0.9rem;"> Give feedback </a>
    <br><br>
    <a href="request" class="btn btn-rounded bg-mentee-white" style="font-size: 0.9rem;"> Request Meeting </a>
    <br><br>
    <span class="btn btn-rounded bg-mentee-white" style="font-size: 0.9rem;"> End Mentorship </span>
</div>

<div style="text-align:center; border:5px;">
    <span class="btn btn-primary btn-rounded mt-4 px-4 " style="font-size: 2rem; background-color: #6e6464;">Request New Mentor</span>
</div>
<br>
<div class="bg-block-mentee-light">
    <h4> Upcoming Meetings: </h4>
    {% for meeting in upcoming_meetings %}
    <p> Name:  {{meeting.name}} </p>
    <p> Start Time: {{meeting.start_time}} </p>
    <p> Duration: {{meeting.duration}} </p>
    <p> Location: {{meeting.location}} </p>
    {% empty %}
    <div class="alert alert-danger w-100" style="margin-top: 40px;">You don't have any upcoming meetings!</div>
    {% endfor %}
    <a href="mentee_past" class="btn btn-rounded btn-mentee" style="font-size: 0.9rem;"> View Past Meetings </a>
    <a href="mentee_pending" class="btn btn-rounded btn-mentee" style="font-size: 0.9rem;"> View Pending Meetings </a>
    <a href="mentee_upcoming" class="btn btn-rounded btn-mentee" style="font-size: 0.9rem;"> Edit Upcoming Meetings </a>
</div>

{% endblock %}