{% extends "mentee_base.html" %}

{% block title %}Mentee Edit Meeting Notes{% endblock %}

{% block body %}

<small>
    <a href="../">Back</a>
</small>

<form method="POST">
    {% csrf_token %}
        
        <div class="mb-3">
            <label for="content"> Content:</label>
            {{ form.content }}
            {% if form.content.errors %}
                {% for e in form.content.errors %}
                    <p class="help is-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>
    
    
        <input class="btn btn-primary" type="submit" value="Update">
    </form>

{% endblock %}