{% extends "mentor_base.html" %}

{% block title %}Upcoming Meetings{% endblock %}

{% block body %}

<small>
    <a href="{% url 'mentor_dashboard' %}">Back</a>
</small>

<h1> Upcoming Meetings: </h1>
<p> Here are all of your upcoming meetings with your mentees. If you wish, you can edit or reschedule a meeting, but it will require the mentee's approval. </p>

<div class="card-group row row-cols-1 row-cols-md-4 g-4 mb-4">
    {% for meeting in upcoming_meetings %}
        <div class="col">
            <div class="card h-100" >
                <div class="card-body">
                    
                    <h5 class="card-title d-flex" style="margin-bottom: 0px !important;">{{ meeting.event.name }}</h5>
                    <small><strong>With:</strong> {{ meeting.mentee.get_full_name }} ({{ meeting.event.location }})</small>

       

                </div>
                <div class="card-footer d-flex align-items-center">
                    <span style="font-size: 0.8em;">{{ meeting.event.startTime|date:"d/m/y @ H:i" }} - {{ meeting.event.endTime|date:"H:i" }}</span>
                    <a href="../mentor_reschedule/{{ meeting.event.id }}" class="ms-auto">Edit/Reschedule</a>

                </div>
            </div>
        </div>

    {% empty %}
    
    <div class="alert alert-danger w-100" style="margin-top: 40px;"> You have no upcoming meetings! </div>
    
    {% endfor %}
        
</div>

{% endblock %}