{% extends "mentor_base.html" %}

{% block title %}Mentor Past Meetings{% endblock %}

{% block body %}

<small>
    <a href="../">Back</a>
</small>

<h1> Past Meetings: </h1>
<p> Here are all of your previous meetings with your mentees. You can view and add meeting notes, view the feedback from your mentees and provide feedback for them. </p>

<div class="card-group row row-cols-1 row-cols-md-4 g-4 mb-4">
    {% for meeting in past_meetings %}
    <div class="col">
        <div class="card h-100" >
            <div class="card-body">
                
                <h5 class="card-title d-flex" style="margin-bottom: 0px !important;">{{ meeting.name }}</h5>


              

            </div>
            <div class="card-footer d-flex align-items-center">
                <span style="font-size: 0.8em;">{{ meeting.startTime|date:"d/m/y @ H:i" }} - {{ meeting.endTime|date:"H:i" }}</span>
                <a href="../meeting/{{ meeting.id }}/notes" class="ms-auto"> Notes </a>

            </div>
        </div>
    </div>

    {% empty %}
    
    <div class="alert alert-danger w-100" style="margin-top: 40px;"> You have no past meetings! </div>
    
    {% endfor %}
        
</div>

{% endblock %}