{% extends base %}

{% block title %}Plans of Action{% endblock %}


{% block body %}
<h1>Plans of Action</h1>
{% if base == "mentor_base.html" %}
    <p>Viewing plans of action for {{ mentee_name }} </p>
    <p>The below plans of action have been created to track the progress of your mentee.</p>
{% else  %}
    <p>The below plans of action have been created for you to track your progress.</p>
{% endif %}
<div class="accordion" id="accordionExample">
    {% for plan in plans_list %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{plan}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{plan.name}}" aria-expanded="true" aria-controls="collapse{{plan}}">
                    {{plan.name}}
                </button>
            </h2>
                <div id="collapse{{plan.name}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ plan.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ plan.progress }}%"></div>
                    </div>        
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Target</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Achieved</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for target in plan.targets %}
                                    <tr>
                                        <th scope="row">{{target.name}}</th>
                                        <td>{{target.description}}</td>
                                        <td>
                                            <form method="post">
                                                {% csrf_token %}

                                                {% if target.achieved %}
                                                    <p class="text-muted">Completed!</p>
                                                {% else %}
                                                    <button type="submit" class="btn btn-primary" name="completed" value="{{target.name}}">Mark as Complete</button>
                                                {% endif %}
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    {% endfor %}              
</div>

<a href="./plans/new">
    <button type="button" class="btn btn-primary">Create New</button>
</a>
{% endblock %}