{% extends "main.html" %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <h1>Edit Profile</h1>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="id_bio">Bio</label>
            {{ form.bio }}
            {% if form.bio.errors %}
                {% for e in form.bio.errors %}
                    <p class="help is-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_business_area">Business Area</label>
            {{ form.business_area }}
            {% if form.business_area.errors %}
                {% for e in form.business_area.errors %}
                    <p class="help is-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_topics">Topics I am interested in</label>
            {{ form.topics }}
            {% if form.topics.errors %}
                {% for e in form.topics.errors %}
                    <p class="help is-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_usertype">I am a</label>
            {{ form.usertype }}
            {% if form.usertype.errors %}
                {% for e in form.usertype.errors %}
                    <p class="help is-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </form>
{% endblock %}