{% extends "main.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="row">
    <div class="col-4 text-center d-flex flex-column  align-items-center ">
        <i class="fa-solid fa-circle-user color-mentea" style="width: 16rem; height: 16rem"></i>
        <a href="{% url "profile_edit" %}" class="btn btn-primary btn-rounded btn-mentea mt-4 px-4">Edit Profile</a>
    </div>
    <div class="col-8">
        <h1 class="mt-2 mb-0" style="font-size: 6rem;">
            {{ user.get_full_name }}
        </h1>
        <p class="fs-5 mb-1">
            <strong>Department:</strong> {{ user.business_area }}
        </p>
        <p>
            {{ user.bio }}
        </p>
        
        <span class="badge rounded-pill bg-mentee-green p-2 px-3 " style="font-size: 0.9rem;">Mentee</span>
        <span class="badge rounded-pill bg-mentor-blue ms-2 p-2 px-3 " style="font-size: 0.9rem;">Mentor</span>
    </div>
    
</div>
<div class="row mt-4">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Interested in:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
        </div>
    </div>
</div>
{% endblock %}