{% extends 'main.html' %}

{% block body %}
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
        <div class="mb-3">
            <label for="id_first_name">First name:</label>
            <input type="text" class="form-control" id="id_first_name" name="first_name" required>
            {% if form.first_name.errors %}
                {% for e in form.first_name.errors %}
                    <p class="help is-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_last_name">Last name:</label>
            <input type="text" class="form-control" id="id_last_name" name="last_name" required>
            {% if form.last_name.errors %}
                {% for e in form.last_name.errors %}
                    <p class="help is-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_email">Email:</label>
            <input type="email" class="form-control" id="id_email" name="email" required>
            {% if form.email.errors %}
                {% for e in form.email.errors %}
                    <p class="help is-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_password1">Password:</label>
            <input type="password" class="form-control" id="id_password1" name="password1" required>
            <small class="form-text">{{ form.password1.help_text }}</small>
            {% if form.password1.errors %}
                {% for e in form.password1.errors %}
                    <p class="help is-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_password2">Confirm password:</label>
            <input type="password" class="form-control" id="id_password2" name="password2" required>
            <small class="form-text">{{ form.password2.help_text }}</small>
            {% if form.password2.errors %}
                {% for e in form.password2.errors %}
                    <p class="help is-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-check d-flex mb-3" style="padding-left: 0">
            <label class="form-check-label" for="id_accept_tos">
                I accept the <a href="/terms-of-service">privacy policy</a> and <a href="/privacy">terms of service</a>:
            </label>
            <input class="form-check-input" style="margin-left: .5em;" type="checkbox" value="" id="id_accept_tos" name="accept_tos" required>
            <small class="form-text">{{ form.accept_tos.help_text }}</small>
            {% if form.accept_tos.errors %}
                {% for e in form.accept_tos.errors %}
                    <p class="help is-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

		<input class="btn btn-primary" type="submit" value="Register" />
	</form>
	<p>If you already have an account, click here to login instead: <a class="btn btn-primary" href="{% url 'login' %}">Login</a></p>

{% endblock %}