{% extends 'main.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block body %}

    {% if validlink %}

        <h1>{{ title }}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Change password">
        </form>

    {% else %}

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset link.</p>

    {% endif %}

{% endblock %}