{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block navbar %}
    {% load static %}
    {% spaceless %}

        <nav class="navbar navbar-light bg-light bg-mentee-green ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        style="border:0 ; color: white">
                    <i class="fa-solid fa-bars fa-lg" style="width:"></i>
                </button>
                <a class="navbar-brand text-white fw-bolder fst-italic" href="{% url "main:index" %}">Mentea <i class="fa-solid fa-mug-hot"
                                                                                           style="margin-left: .3rem;"></i></a>
                <div class="d-flex align-items-center justify-items-center">
                    <button class="navbar-toggler position-relative" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar2"
                    aria-controls="offcanvasNavbar2" style="border:0 ; color: white">
                    <i class="fa-solid fa-bell fa-lg" style="width:"></i>
                    {% if user.has_notifs %}
                    <span class="position-absolute top-25 start-75 translate-middle bg-danger  rounded-circle" style="padding: 6px;">
                        <span class="visually-hidden">New alerts</span>
                      </span>
                    {% endif %}
                </button>
                    <a href="{% url "profile" %}" class="nav-item">
                        <i class="fa-solid fa-circle-user fa-2x" style="color: white;"></i>
                    </a>
                
                </div>


                <div class="offcanvas offcanvas-start bg-mentee-sidenav" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
                        <button type="button" class="navbar-toggler" style="border:0 ; " data-bs-dismiss="offcanvas"
                                aria-label="Close">
                            <i class="fa-solid fa-bars fa-lg" style="width:"></i>
                        </button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 fs-5" style="height: 100%">
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                                   aria-current="page"
                                   href="{% url "main:index" %}">Dashboard</a>
                            </li>
                            {% if user.user_type == "Mentee" or user.user_type == "MentorMentee" %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "dashboard" %}">Mentee Portal</a>
                            </li>
                            {% endif %}
                            {% if user.user_type == "Mentor" or user.user_type == "MentorMentee" %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "mentor_dashboard" %}">Mentor Portal</a>
                            </li>
                            {% endif %}
                            {% if user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "events:workshop-index" %}">Workshops</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                {% if user.is_authenticated %}
                                    <a class="nav-link" href="{% url "logout" %}">Logout</a>
                                {% else %}
                                    <a class="nav-link" href="{% url "login" %}">Login</a>
                                {% endif %}
                            </li>

                            {% with request.resolver_match.url_name as url_name %}
                                <li class="nav-item mt-auto">
                                    <a class="nav-link {% if url_name == 'faq' %}active{% endif %}"
                                       href="{% url "main:faq" %}">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if url_name == 'feedback' %}active{% endif %}"
                                       href="{% url "main:feedback" %}">Give Feedback</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if url_name == 'privacy' %}active{% endif %}"
                                       href="{% url "main:privacy" %}">Privacy Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if url_name == 'tos' %}active{% endif %}"
                                       href="{% url "main:tos" %}">Terms of
                                        Service</a>
                                </li>
                                <li class="mt-2 text-end">
                                    <small class="fs-6 text-end ">&copy; Mentea 2022</small>
                                </li>
                            {% endwith %}
                        </ul>


                    </div>
                </div>
                 <!-- Notification Panel -->
                 <div class="offcanvas offcanvas-end bg-mentea-sidenav" tabindex="-1" id="offcanvasNavbar2"
                 aria-labelledby="offcanvasNavbarLabe2">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabe2">Notifications</h5>
                    <button type="button" class="navbar-toggler" style="border:0 ; " data-bs-dismiss="offcanvas"
                            aria-label="Close">
                        <i class="fa-solid fa-close fa-lg" style="width:"></i>
                    </button>
                </div>
                <div class="offcanvas-body">
                    <iframe src="/user/notifications" style="background-color: transparent; width: 100%;  height: 100%; overflow: auto !important;" frameborder="0"></iframe>


                </div>
            </div>

            </div>
        </nav>
    {% endspaceless %}
{% endblock %}



{% block messages %}
    {% if messages or not request.COOKIES.noticed_cookies %}
        <div class="alerts">
            {% for message in messages %}
                <div class="alert alert-dismissible show fade{% if message.tags %} {{ message.tags }}{% endif %}"
                     role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
    <div class="nav ml-auto mr-auto d-flex flex-row justify-content-around">

    </div>
{% endblock %}

{% block bottomscripts %}
    {{ block.super }}

{% endblock %}