{% extends "main.html" %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block body %}
<h1 class="mb-0">
    Frequently Asked Questions
</h1>
<div class="tenor-gif-embed" data-postid="21645046" data-share-method="host" data-aspect-ratio="1.13074" data-width="100%"><a href="https://tenor.com/view/my-gamer-gif-21645046">My Gamer GIF</a>from <a href="https://tenor.com/search/my+gamer-gifs">My Gamer GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock %}