{% extends "main.html" %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block body %}
<h1 class="mb-5">
    Frequently Asked Questions
</h1>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How do I change my interested topics?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>By getting good kiddo!</strong> Visit <a href="/user/profile">your profile</a>, then head to the topics section and click edit!
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How do I join/request a workshop or group event?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         Head over to the <a href="#">Mentee dashboard</a> and then to <a href="#">workshops/group events</a>. You'll be able to events here for the topics you're interested in and others. You are free to join other ones aswell if they interest you. Events may have limited space, so all attendance will be first-come first-serve!
         <br><br>
         If you want to request a workshop/event on a particular topic, then click the event request button {insert button location here] or <a href="#">click here</a>. Then fill out the form, and available mentors in the respective topic areas will be notified of you're interest.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          FAQ #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quas impedit perspiciatis repudiandae aut officia autem incidunt ipsam vitae in quibusdam ad dignissimos tempore porro ipsa, neque saepe consequuntur temporibus!
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
            FAQ #4
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quas impedit perspiciatis repudiandae aut officia autem incidunt ipsam vitae in quibusdam ad dignissimos tempore porro ipsa, neque saepe consequuntur temporibus!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
            FAQ #5
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quas impedit perspiciatis repudiandae aut officia autem incidunt ipsam vitae in quibusdam ad dignissimos tempore porro ipsa, neque saepe consequuntur temporibus!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
            FAQ #6
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quas impedit perspiciatis repudiandae aut officia autem incidunt ipsam vitae in quibusdam ad dignissimos tempore porro ipsa, neque saepe consequuntur temporibus!
          </div>
        </div>
      </div>
  </div>

{% endblock %}