{% extends "main.html" %}

{% block title %}Feedback{% endblock %}

{% block body %}
<h1 class="mb-0">
    Frequently Asked Questions
</h1>
<div class="tenor-gif-embed" data-postid="3416345" data-share-method="host" data-aspect-ratio="1.66667" data-width="100%"><a href="https://tenor.com/view/piano-bruce-almighty-keyboard-keyboard-warrior-fast-typing-gif-3416345">Typing On My Keyboard After Piano Practice, Feeling Like Bruce. GIF</a>from <a href="https://tenor.com/search/piano-gifs">Piano GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock %}