{% extends "main.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="bg-block-main-green"> 
    <br>
    <div class="bg-child-block" style="background-color:#439481; display: flex; align-items: flex-end;"> 
        <br><br><br><br>
        <div class="center" style="text-align:center">
            <h1 class="mt-2 mb-0" color="#6e6464" style="font-size: 3rem;" color:>
                mentoring made easy.
            </h1>
            <img src="../static/images/mentea.jpg" alt="Mentea image" style="width:60%; height:auto;">
        </div>
    </div>

    <div class="bg-child-block2" style="color: white; background-color: #ffffff; padding:150px; display:flex; align-items: flex-start; justify-content: space-between;">
        <div class="bg-text-boxes-homepage" style="padding: 30px; align-self:center;">
            <h1 class="mt-2 mb-0" color="#6e6464" style="font-size: 3rem;">
                gain expertise and connections.
            </h1>
            <br>
            <p style="color: #3f4040;"> Mentea is a mentoring-mentee platform that allows you to connect with mentors, organise mentoring meetings and newtork in group sessions and workshops.</p>
        </div>
        
        <div class="bg-text-boxes-homepage2" style="padding: 30px; align-self:center;">
            <h1 class="mt-2 mb-0" color="#6e6464" style="font-size: 3rem; color:#3f4040;">
                help others grow and develop.
            </h1>
            <br>
            <p style="color: #3f4040;"> Mentea's algorithm matches mentors and mentees with similar areas of expertise and interest. 
                You're matched with mentors and mentees based off the preferences specified in your profile.  </p>
        </div>
    </div>

    <div class="bg-child-block" style="color: white; background-color:#D2F1A5;">  
        <div style="width:100%; height:auto; background-color:#D2F1A5; padding:150px;">
            <h1 class="mt-2 mb-0" style="color: #3f4040; padding: 30px; font-size: 3rem;">
                fulfill your potential.
            </h1>
            <p style="color: #3f4040;">Our philosophy revolves around the following rules of mentoring:</p>
                <ol style="color: #3f4040; font-weight: bold; padding-bottom:30px; padding-right:30px; border-right:5px solid #3f4040; border-bottom:5px solid #3f4040;">
                    <li>A mentee should always drive the relationship, setting the agenda and approaching the mentor when help is require.</li>
                    <li>A mentor will always give up time to the mentee.</li>
                    <li>The mentoring arrangement should be based on themes and topic areas that they require help unblocking to achieve success.</li>
                    <li>A mentor should always be from a different business area to the mentee.</li>
                </ol>
            <br><br><br>
            <div style="border-top:5px solid #3f4040; border-left:5px solid #3f4040;">
                <h1 class="mt-2 mb-0" style="color: #3f4040; padding-top:30px; padding-left:30px; font-size: 3rem;">
                    achieve success.
                </h1>
                <p style="color: #3f4040; padding:30px;">The act of mentoring is reliant on the relationship between mentor and mentee.
                    Mentea facilitates that relationship and helps maintain it. 
                    Mentea ensures mentoring is beneficial and impactful to both mentor and mentee by following the rules of mentoring. 
                </p>
                <h1 class="mt-2 mb-0" style="color: #3f4040; padding-left:30px; font-size: 2rem;">
                    tell me more.
                </h1>
                <a style="color: #3f4040; padding-left:30px;" href="faq/">See our FAQs.</a> 
            </div>
        </div>
    </div>
</div>


{% endblock %}