{% extends "main.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="bg-block-main-green" >  
    <br><br><br><br>
    <div class="center" style="text-align:center">
        <h1 class="mt-2 mb-0" color="#6e6464" style="font-size: 3rem;" color:>
            mentoring made easy.
        </h1>
        <br>
        <img src="../static/images/mentea.jpg" alt="Mentea image" style=" width:auto; height:614px;">
    </div>
</div>

<div class="bg-block-main-brown"> 
    <h2 class="mt-2 mb-0" color="#6e6464" style="padding:80px; font-size: 3rem;" color:>
        <div class="bg-text-boxes-homepage">
            gain expertise and connections.
        </div>
        <div class="bg-text-boxes-homepage2" style="position:absolute; right:80px; top:350px;">
            help others grow and develop.
        </div>
    </h2>
</div>


<div class="bg-block-main-light" >  

</div>


{% endblock %}