{% extends "main.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}
<article>
    <section class="d-flex justify-content-between align-items-end">
        <h1 class="mb-0">
            Privacy Policy
        </h1>
        <small>Updated on 09/02/2022</small>
        
    </section>
    <hr />
    <section>
        <ul class="d-grid gap-2" style="list-style-type: none; padding: 0; max-width: 90%">
            <li class="">
                <h3>1. We wont sell your data!</h3>
                <p class="ms-4">
                    But if you read this document really carefully, you'll find out that we do :)
                </p>
            </li>
            <li class="">
                <h3>2. We wont sell your data!</h3>
                <p class="ms-4">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat repellendus, autem laboriosam fuga, a optio labore quidem rerum illum obcaecati facere saepe nam doloremque mollitia? Eum explicabo modi in delectus.
                </p>
            </li>
            <li class="">
                <h3>3. We <strong>will</strong> sell your data!</h3>
                <p class="ms-4">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus rem odio, beatae, cumque, deleniti atque illo minima porro ipsum eaque voluptatem consequatur aperiam repellat dolorum quisquam veniam voluptates magnam eius.
                    Illo asperiores soluta possimus nihil repudiandae inventore ab illum repellendus omnis ducimus. Dignissimos necessitatibus, nobis voluptatibus doloremque dolorem atque blanditiis. Recusandae numquam eaque facere totam sit, consequuntur dignissimos dolorem. Illum?
                    Aspernatur assumenda rerum reprehenderit maiores sed soluta recusandae ab unde! Laboriosam neque excepturi perspiciatis natus obcaecati suscipit culpa, amet voluptatum nemo iusto eos consequatur incidunt illum odio repellat fuga ab!
                    Itaque consectetur fuga animi, iusto dolorem ex eius consequuntur sequi perferendis reiciendis sed aliquam inventore facere tempora culpa magni repellendus maxime dignissimos soluta officiis dicta harum autem! Minima, officia neque?
                    <br /><br />
                    Totam ipsa consequuntur magnam et sit hic, sed eaque dolorem, illum repellendus odio explicabo possimus ratione aperiam. Vitae magnam placeat iure consequatur ratione iste, repudiandae eos obcaecati asperiores! Explicabo, nam!
                    Unde provident sint nulla quisquam atque debitis repellendus officiis asperiores praesentium! Asperiores quibusdam, corporis quod culpa unde ratione labore non debitis porro corrupti. Quod maxime ullam harum officia optio cupiditate.
                    Esse ad excepturi iure consectetur. Commodi, ducimus magnam quas temporibus voluptatibus consectetur. Libero similique quis provident quibusdam distinctio minima labore accusantium modi voluptas autem dolore, amet voluptates ad, hic cum?
                    <br /><br />
                    Quae repellendus pariatur optio ut, aliquam ad? Nobis accusamus necessitatibus dolorum quos voluptatibus alias quam? Placeat officiis exercitationem, harum fugiat nam iste facere voluptas unde ullam dolor asperiores rem ratione!
                    Amet, architecto. Exercitationem hic fugiat commodi, tenetur, iure quaerat magnam aperiam laudantium, natus mollitia nemo. Aliquam similique distinctio fuga repudiandae eius sit deserunt? Voluptate labore, facere cupiditate debitis esse sunt?
                </p>
            </li>
        </ul>
        <div class="tenor-gif-embed" data-postid="17544086" data-share-method="host" data-aspect-ratio="1.38528" data-width="100%"><a href="https://tenor.com/view/bugs-bunny-looney-tunes-cash-money-counting-money-gif-17544086">Bugs Bunny Looney Tunes GIF</a>from <a href="https://tenor.com/search/bugs+bunny-gifs">Bugs Bunny GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </section>
    
</article>
{% endblock %}