{% extends "main.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}
<article>
    <section class="d-flex justify-content-between align-items-end">
        <h1 class="mb-0">
            Privacy Policy
        </h1>
        <small>Updated on 09/02/2022</small>
        
    </section>
    <hr />
    <section>
        <ul class="d-grid gap-2" style="list-style-type: none; padding: 0; max-width: 90%">
            <li class="">
                <h3>1. Type of personal information we collect</h3>
                <p class="ms-4">
                    Personal identifiers, contact information and characteristics.
                </p>
            </li>
            <li class="">
                <h3>2. How we get your personal information and why we have it</h3>
                <p class="ms-4">
                    All of the personal information we process is provided to us directly by you for one of the following reasons:
                    <ul>
                        <li>We request for your contact information, such as your email address, to help authenticate your account and keep it secure. It also allows us to contact you and provide notifications.</li>
                        <li>We request for your name and other personal identifiers so other users of the system, selected by you, for example your mentor or mentee, know who you are and how to address you.</li>
                        <li>We request for your areas of interest and expertise so that you can be matched with corresponding mentors or mentees.</li>
                    </ul>
                </p>
            </li>
            <li class="">
                <h3>3. We do not recieve your personal information from any other external sources.</h3>
            </li>
            <li class="">
                <h3>4. We will not share your personal information with any other external organisations or individuals.</h3>
            </li>
            <li class="">
                <h3>5. How we store your personal information</h3>
                <p class="ms-4">
                    We ensure all personal data is stored securely. The application highly secure with protection against malicious attacks, which is maintained and updated regularly.
                    Your account is kept secure using verification which is controlled by you.
                    We will delete records of all your personal information on our servers if you deactivate your account.
                </p>
            </li>
            <li class="">
                <h3>6. General Data Protection Act (GDPR)</h3>
                <p class="ms-4">
                    Under the GDPR, the lawful bases we rely on for processing this information are:
                    <ul>
                        <li>Your consent. You are able to remove your consent at any time. You can do this by contacting [contact details].</li>
                        <li>We have a contractual obligation.</li>
                        <li>We have a vital interest.</li>
                        <li>We nhave a legitimate interest.</li>
                    </ul>
                </p>
            </li>
            <li class="">
                <h3>7. Your data protection rights</h3>
                <p class="ms-4">
                    Under data protection law, you have rights including:
                    <ul>
                        <li>Your right of access - You have the right to ask us for copies of your personal information. </li>
                        <li>Your right to rectification - You have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete. </li>
                        <li>Your right to erasure - You have the right to ask us to erase your personal information in certain circumstances. </li>
                        <li>Your right to restriction of processing - You have the right to ask us to restrict the processing of your personal information in certain circumstances. </li>
                        <li>Your right to object to processing - You have the the right to object to the processing of your personal information in certain circumstances.</li>
                        <li>Your right to data portability - You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.</li>
                    </ul>
                    <br>
                    You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.
                    Please contact us at [insert email address, phone number and or postal address] if you wish to make a request.
                </p>
            </li>
            <h3>How to contact us</h3>
            If you have any concerns about our use of your personal information, you can make a complaint to us at [Insert contact details for data protection queries].
        </ul>
        

    </section>
    
</article>
{% endblock %}