{% extends "main.html" %}

{% block title %}Terms of Service{% endblock %}

{% block body %}
<article>
    <section class="d-flex justify-content-between align-items-end">
        <h1 class="mb-0">
            Privacy Policy
        </h1>
        <small>Updated on 09/02/2022</small>
        
    </section>
    <hr />
    <section>
        <div class="tenor-gif-embed" data-postid="23053640" data-share-method="host" data-aspect-ratio="0.753125" data-width="100%"><a href="https://tenor.com/view/dimden-heywe-tudou-rule-meme-gif-23053640">Dimden Heywe GIF</a>from <a href="https://tenor.com/search/dimden-gifs">Dimden GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </section>
    
</article>
{% endblock %}