name: CI

on: [push]

jobs:
  lint-and-test:
    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: softeng
          POSTGRES_PASSWORD: password
          POSTGRESS_DB: softeng
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    runs-on: ubuntu-latest
    steps:
      # check out repo and set up python
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      # install poetry
      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          version: "1.1.12"
          virtualenvs-create: true
          virtualenvs-in-project: false
          installer-parallel: true

      # use cache if possible
      - name: Load cached venv
        id: cached-poetry-venv
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}

      # install the project
      - name: Install project
        run: poetry install --no-interaction
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'

      - name: Run Postgres migrations
        run: poetry run manage migrate

      # check code has been formatted correctly
      - name: Check formatting
        run: poetry run black . --check

      # check code passes mypy
      - name: Run linting & type checking
        run: poetry run mypy .

      # check tests pass
      - name: Test project
        run: poetry run pytest -v
